body {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.jumbotron {
  padding-top: 50px;
  background: url("./banner_bg.jpg");
  background-size: cover;
  height: 600px;
}
.btn-danger {
  box-shadow: 0px 2px 2px yellow;
  border-radius: 5px;
}
.form-control {
  box-shadow: 0px 2px 2px yellow;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
.footer {
  line-height: 50px;
  margin-bottom: 0px;
}
#kontak {
  width: 600px;
}
#skill {
  padding-top: 60px;
}
#profile {
  padding-top: 60px;
}
#contact {
  padding-top: 70px;
}
.cardgroup {
  width: 600px;
  height: 500px;
}
